:root {
  --mm-font-size: 32px;
  --pad-font-size: 44px;
  --pc-font-size: 56px;
  --font-color: #ffffff;
  --max-line: 0;
  --text-decorate: unset;
  --line-height: 1.2;
  --font-weight: bold;
  --letter-spacing: 0px;
  --font-family: Inter;
  --text-align: inherit;
  --main-overflow: visible;
}